
.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.auth-form ion-grid,
.auth-form ion-row {
  height: 90%;
  justify-content: center;
}
.avatar{
    margin: auto;
 }