<ion-content [fullscreen]="true">
  <div id="container">
    <ion-app>
      <ion-menu side="start" content-id="main-content" class="my-custom-menu">
        <ion-header>
          <ion-toolbar translucent>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item *ngIf="login_verify===false" (click)="login()">
              <ion-icon name="person" slot="start" (click)="login()" expand="block"></ion-icon>
              <ion-button expand="block">Login</ion-button>
            </ion-item>
            <ion-item *ngIf="login_verify" (click)="manage()">
              <ion-icon name="people" slot="start" (click)="manage()" expand="block"></ion-icon>
              <ion-button expand="block" >Manage Employee</ion-button>
            </ion-item>
            <ion-item *ngIf="login_verify" (click)="logout()">
              <ion-icon name="log-out" slot="start" (click)="logout()" expand="block"></ion-icon>
              <ion-button expand="block" color="danger">Logout</ion-button>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
      <div class="ion-page" id="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Gestion d'employer </ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-text style="text-align :center" *ngIf="login_verify">
            <h1>Welcome Admin, <span class="emoji">😎</span></h1>
          </ion-text>
          <ion-list>
            <ion-list-header>Recent employee </ion-list-header>
            <ion-item-sliding class="shaded-slider" *ngFor="let emp of employee">
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/users.png" />
                </ion-avatar>
                <ion-label>
                  <h2>{{emp.first_name}}</h2>
                  <h3>{{emp.last_name}}</h3>
                </ion-label>
              </ion-item>
            </ion-item-sliding>
          </ion-list>
        </ion-content>
      </div>
    </ion-app>
  </div>
</ion-content>
